@font-face {
  font-family: "Cerapro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/CeraPro-Regular.woff") format("woff")
}

@font-face {
  font-family: "Cerapro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/CeraPro-Medium.woff") format("woff")
}

@font-face {
  font-family: "Cerapro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/CeraPro-Bold.woff") format("woff")
}

@font-face {
  font-family: "Cerapro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/CeraPro-Black.woff") format("woff")
}