:root {
  --first-color: #46A358;
  --first-color-light: #C9EADB;
  --title-color: #3D3D3D;
  --text-color: #727272;
  --border-color: #f3f3f3;
  --body-font: "Cerapro", sans-serif;
  --biggest-font-size: 70px;
  --h2-font-size: 30px;
  --h3-font-size: 20px;
  --h4-font-size: 17px;
  --h5-font-size: 16px;
  --description-text: 14px;
}